###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set default behavior for command prompt diff.
#
# This is needed for earlier builds of msysgit that do not have it on by
# default for C# files.
# Note: This is only used by the command line.
###############################################################################
*.cs     diff=csharp

###############################################################################
# Set the merge driver for project and solution files.
#
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (merging from Visual Studio is not affected by the settings below; in VS,
# diff markers are never inserted). Diff markers may cause the following 
# file extensions to fail to load in Visual Studio. An alternative would be to treat
# these files as binary, which will always conflict and require user intervention
# with every merge. To do so, uncomment the entries below.
###############################################################################
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary

###############################################################################
# Behavior for image files.
#
# Image files are treated as binary by default.
###############################################################################
*.jpg   filter=lfs
*.png   filter=lfs
*.gif   filter=lfs

###############################################################################
# Behavior for common document formats.
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
*.doc   filter=lfs
*.DOC   filter=lfs
*.docx  filter=lfs
*.DOCX  filter=lfs
*.dot   filter=lfs
*.DOT   filter=lfs
*.pdf   filter=lfs
*.PDF   filter=lfs
*.rtf   filter=lfs
*.RTF   filter=lfs
